
/* Metamodel Specific Styles
 *****************************************************************************/

.ctc_Statemachine {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.ctc_SimpleState.ct_element {
	border: 1px solid black; 
	-moz-border-radius: 0.5em; 
	border-radius: 0.5em; 
	margin: 0;
	background: url(state_background.png) no-repeat top right #fcf2e3;
}

.ctc_SimpleState.ct_selected, .ct_selected .ctc_SimpleState {
	background: #aaf;
}

.ctc_CompositeState.ct_element {
	border: 1px solid black; 
	-moz-border-radius: 0.5em; 
	border-radius: 0.5em; 
	margin: 0;	
	background: url(state_background.png) no-repeat top right #fcf2e3;
}

.ctc_CompositeState.ct_selected, .ct_selected .ctc_CompositeState {
	background: #aaf;
}

.ctc_Transition.ct_element {
  padding-top: 20px;
  background: url(arrow_right.png) 5px 5px no-repeat;
  min-width: 50px;
  margin: 0;
}

.ctc_Transition.ct_element.ct_var2_2 {
  background: url(arrow_left.png) 5px 5px no-repeat;
}

.ctc_Transition .ctn_sourceState .ct_ref_handle {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0px;
  top: 9px;
  border: 1px solid black;
}

.ctc_Transition.ct_var2_2 .ctn_sourceState .ct_ref_handle {
  left: 55px;
}

.ctc_Transition .ctn_targetState .ct_ref_handle {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 55px;
  top: 9px;
  border: 1px solid black;
}

.ctc_Transition.ct_var2_2 .ctn_targetState .ct_ref_handle {
  left: 0px;
}

.ctc_Transition .ct_error .ct_ref_handle {
  top: 8px;
  border: 2px solid red;
}

.ctc_Transition.ct_selected, .ctc_Transition.ct_selected.ct_var2_2 {
	background-color: #aaf;
}

.ctc_Transition .ct_var_handle {
  position: absolute;
  display: none;
  width: 13px;
  height: 13px;
  left: 22px;
  top: -10px;
  border: 1px solid black;
  background: url(flip.png) no-repeat;
}

.ctc_Transition.ct_selected .ct_var_handle {
  display: block;
}

.ctc_AndExpression .ct_containment { padding: 0; }
.ctc_AndExpression .ct_containment .ct_element { margin: 0; }
.ctc_AndExpression .ct_containment > .ct_slot > .ct_inline_editor {	margin: 0; }

.ctc_OrExpression .ct_containment { padding: 0; }
.ctc_OrExpression .ct_containment .ct_element { margin: 0; }
.ctc_OrExpression .ct_containment > .ct_slot > .ct_inline_editor {	margin: 0; }

.ctc_NotExpression .ct_containment { padding: 0; }
.ctc_NotExpression .ct_containment .ct_element { margin: 0; }
.ctc_NotExpression .ct_containment > .ct_slot > .ct_inline_editor {	margin: 0; }


/* moved from the HTML templates to CSS: */

.cs_diagramBox {
	position: relative;
	padding: 10px;
}

.cs_centeredTextWithPadding {
	text-align: center;
	padding: 5px;
}

.cs_boxed {
	border-top: 1px solid black;
	padding: 5px;
}

.cs_noPadding {
	padding: 0px;
}

